<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Stats</title>
</head>
<body>
    <h1>Choose a baseball team</h1>
    <form method="get">
        <select name="team" id="team">
            <option value="{{ team_id }}">
                {{ selected_team.data.display_name }}
            </option>
            {% for team in teams.data %}
                    {% if team.id != team_id %}
                        <option value="{{ team.id }}">
                            {{ team.display_name }}
                        </option>
                    {% endif %}
            {% endfor %}
        </select>
        <button>Select team</button>

    {% for player in players.data %}
        <li>
            {{ player.last_name }}, {{ player.first_name }}
        </li>
    {% endfor %}

    {% if team_id is None %}
        <a href="?team=1">Next page</a>
    {% else %}
        {% if request.session.cursors %}
            {% if prev_cursor is None %}
                <a href="?team={{ team_id }}&direction=prev">Previous page</a>
            {% else %}
                <a href="?team={{ team_id }}&cursor={{ prev_cursor }}&direction=prev">Previous page</a>
            {% endif %}
        {% endif %}
        {% if next_cursor %}
            <a href="?team={{ team_id }}&cursor={{ next_cursor }}">Next page</a>
        {% endif %}
    {% endif %}

    </form>

</body>
</html>